@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
*{
    padding: 0%;
    margin: 0%;
}

.wrapper{
    background: url(background-img.jpg) no-repeat;
    background-size: cover;
    height: 100vh;
}
.navbar{
    height: 80px;
    width: 100%;
    background: rgba(0,0,0,0.4);
}
.logo{
    height: auto;
    width: 140px;
    padding: 20px 100px;
}
.navbar ul{
    float: right;
    padding-right: 20px;
}
.navbar ul li{
    display: inline-block;
    list-style: none;
    margin: 0px 8px;
    line-height: 80px;
}
.navbar ul li a{
    text-decoration: none;
    color:azure;
    font-size: 20px;
    padding: 6px 13px;
    font-family: 'Poppins', sans-serif;
    transition: 0.4s;
}
.navbar ul li a.active,
.navbar ul li a:hover{
    background: red;
    border-radius: 2px;
}
.wrapper .centre{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-family: sans-serif;
}
.centre h1{
    color: azure;
    font-size: 70px;
    font-weight: bold;
    width: 900px;
    text-align: center;
}
.centre h2{
    color: azure;
    font-size: 70px;
    font-weight: bold;
    margin-top: 10px;
    width: 885px;
    text-align: center;
}
.centre .buttons{
    margin: 35px 280px;
}
.buttons button{
    height:50px;
    width: 150px;
    font-size: 18px;
    font-weight: bold;
    color: azure;
    background: red;
    border: 1px solid wheat;
    cursor: pointer;
    border-radius: 25px;
    transition: .5s;
}
.buttons .btn{
    margin-left: 25px;
}
.buttons button:hover{
    background:tomato;


}